<div class="super_container">
  <header class="header" style="display: none">
    <div class="header_main">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right"
          >
            <div class="header_search">
              <div class="header_search_content">
                <div class="header_search_form_container">
                  <form action="#" class="header_search_form clearfix">
                    <div class="custom_dropdown">
                      <div class="custom_dropdown_list">
                        <span class="custom_dropdown_placeholder clc"
                          >All Categories</span
                        >
                        <ul class="custom_list clc">
                          <li>
                            <a class="clc" href="#">All Categories</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="single_product">
    <div class="container-fluid" style="background-color: #fff; padding: 11px">
      <div class="row">
        <div class="col-md-5 order-lg-2 order-1" >
          <div class="image_selected">
            <img
              src="{{product.imageUrl}}"
              class="img-fluid mt-5"
              alt="qEwct2O"
              height="100%"
              width="100%"
            />
          </div>
          <div class="container">
            <div class="row">
              <img
              src="{{product.imageUrl}}"
                class="img-fluid mt-5"
                alt="qEwct2O"
                height="100px"
                width="300px"
              />
              <img
              src="{{product.imageUrl}}"
                class="img-fluid mt-5"
                alt="qEwct2O"
                height="100px"
                width="300px"
              />
            </div>
          </div>
        </div>
        <div class="col-md-7 order-3">
          <div class="product_description">
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a routerLink="/category">Products</a>
                </li>
                <li class="breadcrumb-item active">Accessories</li>
              </ol>
            </nav>
            <div class="product_name">
              <h3>
                {{product.name}} | {{product.sku}} 
              </h3>
            </div>
            <div class="product-rating">
              <span class="badge bg-success"><span style="color: white;font-weight: bolder;">4.5 Star</span></span>
              <span class="ml-3">35 Ratings & 45 Reviews</span>
            </div>
            <div class=" mt-3" >
              <span class="product_price"><h1>₹ {{product.unitPrice}}</h1></span>
              <span style='color:red;text-decoration:line-through'>
                <span style='color:black'>₹ 39,000</span>
              </span>
            </div>  
            <div>
              <span style="color: black"
                ><span class="product_saved">You Saved:</span>
                <span style="color: black">₹ 2,000</span></span
              >
            </div>
            <hr class="singleline" />
            <div>
              <span style="color: black"
                ><span class="product_info"
                  >EMI starts at ₹ 2,000. No Cost EMI Available<span
                    ><br />
                    <span class="product_info"
                      >Warranty: 6 months warranty<span
                        ><br />
                        <span class="product_info"
                          >7 Days easy return policy<span
                            ><br />
                            <span class="product_info"
                              >7 Days easy return policy<span
                                ><br />
                                <span class="product_info"
                                  >In Stock: 25 units sold this week</span
                                ></span
                              ></span
                            ></span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              >
            </div>

            <div>
              <div class="row mt-3">
                <div class="col-md-5">
                  <div class="br-dashed">
                    <div class="row">
                      <div class="col-md-3 col-xs-3">
                        <span style="color: black"
                          ><img
                            src="https://img.icons8.com/color/48/000000/price-tag.png"
                            alt="price-tag"
                        /></span>
                      </div>
                      <div class="col-md-9 col-xs-9">
                        <span style="color: black"
                          ><span class="break-all"
                            >Get 5% instant discount + 10X rewards @
                            RENTOPC</span
                          ></span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-7"></div>
              </div>
              <div class="row" style="margin-top: 15px">
                <div class="col-xs-6" style="margin-left: 15px">
                  <span class="product_options">RAM Options</span><br />
                  <button class="btn btn-primary btn-sm">4 GB</button>
                  <button class="btn btn-primary btn-sm ml-3">8 GB</button>
                  <button class="btn btn-primary btn-sm ml-3">16 GB</button>
                </div>
                <div class="col-xs-6" style="margin-left: 55px">
                  <span class="product_options">Storage Options</span><br />
                  <button class="btn btn-primary btn-sm">500 GB</button>
                  <button class="btn btn-primary btn-sm ml-3">1 TB</button>
                </div>
              </div>
            </div>

            <div class="card mt-4" >
              <div class="card-body">
                <h4><b>Description</b></h4>
                <h5>{{product.name}} | {{product.sku}} </h5>
                {{product.description}}
              </div>
             </div>
            <hr class="singleline" />
            <div class="order_info d-flex flex-row">
              <form action="#"></form>
            </div>
            <div class="row">
              <!-- quantity button -->
            </div>

            <button type="button" class="btn btn-success btn-lg btn-block">
              Buy Now
            </button>
            <button type="button" class="btn btn-warning btn-lg btn-block" (click)="processCart()">
              Add to Cart
            </button>
            <button type="button" class="btn btn-danger btn-lg btn-block">
              Wishlist
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
