<!-- <div class="main-content">
    <div align="center" class="alert alert-warning col-md-12" role="alert">
        
        <p>Thank you for being a member...</p>
        <p>Members discount are coming soon...</p>
    </div>
</div> -->

<div class="container mt-5">
    <div class="alert alert-warning text-center" role="alert">
        <h3><b>Members Special</b></h3>
    </div>
    <div class="alert alert-primary text-center" role="alert">
        <p>Thank you for being a member</p>
        <p>Member discounts are coming soon...</p>
    </div>
</div>