<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Cat ID</th>
        <th scope="col">Image</th>
        <th scope="col">Sku</th>
        <th scope="col">Name</th>
        <th scope="col">Desc</th>
        <th scope="col">Price</th>
        <th scope="col">Units in Stock</th>
        <th scope="col">Date Created</th>
        <th scope="col">Last Updated</th>
        <th scope="col">Active</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tempProduct of products">
        <td>{{ 1 }}</td>
        <td>{{ 1 }}</td>
        <td class="align-middle"> <img src="{{ tempProduct.imageUrl }}" alt="" height="50px"> </td>
        <td class="align-middle">{{ tempProduct.sku }}</td>
        <td class="align-middle">{{ tempProduct.name }}</td>
        <td class="align-middle">{{ tempProduct.description }}</td>
        <td class="align-middle">{{ tempProduct.unitPrice | currency : 'INR' }}</td>
        <td class="align-middle">{{ tempProduct.unitsInStock }}</td>
        <td class="align-middle">{{ tempProduct.dateCreated }}</td>
        <td class="align-middle">{{ tempProduct.lastUpdated }}</td>
        <td class="align-middle">{{ tempProduct.active }}</td>
      </tr>
    </tbody>
  </table>
</div>
