<div class="continer-fluid" style="border: 1px solid red;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Apni Dukan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" routerLink="/">Home </a>
          </li>
    <app-product-category-dropdown></app-product-category-dropdown>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">Contact Us</a>
  </li>
  </ul>
  <form class="form-inline ml-5">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
      </button>
  </form>
  </div>
  </nav>
  
  <!-- <app-product-list></app-product-list> -->
</div>  <!-- MAIN CONTAINER END -->


<div class="card">
  
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>



<!--  -->

