<div class="continer-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
      <img src="https://img.icons8.com/officexs/50/000000/shop.png"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" style="font-size: 1.4em"
            ><i class="fas fa-home"></i> Home
          </a>
        </li>

        <app-product-category-dropdown></app-product-category-dropdown>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contact"
            routerLinkActive="active-link"
            style="font-size: 1.4em"
          >
            <i
              class="fas fa-phone-volume"
              style="color: white; font-size: 1.2em"
            ></i>
            Contact Us</a
          >
        </li>
      </ul>
      <app-search></app-search>
      <ul class="navbar-nav ml-3 ">
        <li class="nav-item">
          <a href="#" class="btn btn-outline-primary">   
           <i class="fas fa-rupee-sign " style="color: yellow; font-size: 1.5em"><span class="ml-1">3000.00</span></i>
           <i class="fas fa-grip-lines-vertical ml-2 mr-2" style="color: white; font-size: 1.3em"></i>
           
          
           <i class="fas fa-shopping-cart" style="color: yellow; font-size: 1.5em" ><span class="ml-2" style="color: white"></span></i>
           <span style="color: white;font-size: 1.3em">10</span>
        </a>
          </li>
      </ul>
      
      

      <ul class="navbar-nav ml-3">
        <li class="nav-item">
          <a href="#">
            <i
              class="fas fa-sign-in-alt"
              style="color: yellow; font-size: 1.5em"
              ><span class="ml-2" style="color: white">LOGIN</span></i
            ></a
          >
        </li>
      </ul>
    </div>
  </nav>

  <!-- <app-product-list></app-product-list> -->
</div>
<!-- MAIN CONTAINER END -->

<div class="card">
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>

<!--  -->
