<div class="continer-fluid" >
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Apni Dukan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" routerLink="/">Home </a>
          </li>

    <app-product-category-dropdown></app-product-category-dropdown>



    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">Contact Us</a>
  </li>
  </ul>
      <app-search></app-search>
  <ul class="navbar-nav ml-3">
    <li class="nav-item">
      <i class="far fa-sign-in-alt" ></i>

      <a class="btn btn-outline-warning " href="#" role="button">Login</a>
    </li>
  </ul>

  </div>
  </nav>

  <!-- <app-product-list></app-product-list> -->
</div>  <!-- MAIN CONTAINER END -->


<div class="card">

  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>


<!--  -->

