<ul class="navbar-nav ml-3">
    <li class="nav-item">
        <a routerLink="cart-details" class="btn btn-outline-primary">
            <i class="fas fa-rupee-sign" style="color: yellow;">
                <span class="ml-1">{{totalPrice}}</span>
            </i>
            <i class="fas fa-grip-lines-vertical ml-2 mr-2" style="color: white; "></i>

            <i class="fas fa-shopping-cart" style="color: yellow; ">
                <span class="ml-2"style="color: white"></span>
            </i>
            <span style="color: white;">{{totalQty}}</span>
        </a>
    </li>
</ul>